body{
  background: linear-gradient(90deg, #FC00FF, #00DBDE);
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.turned .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #66CB92;
  color: white;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.points{
  background-color: #66CB92;
  color: white;
}

.eltalaltam{
  color: #66CB92;
}

.nemsikerult{
  color: #FF9396;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green{
  background-color: #66CB92;
}

.red{
  background-color: #FF9396;
}